body {
    display: flex;
    background-color: #EEE9E9;
    width: 100vw;
    height: 100vh;
    margin: 0px; 
    align-items: center;
}
.flexbox { /*排列 排版*/
    display: flex;
    flex-direction: column;
}
/*畫布*/
#canvas {
    border: #8B7D7B 9px solid;
    border-radius: 15px;
    margin: 30px; 
    background-color: white;
}
/*字*/
#top { 
    margin-top: 10px;
    margin-left: 35px;
    color: #8B7D7B;
    font-size: 100px;
    font-weight: bold;
    font-family: "Comic Sans MS";
}
/*筆刷大小等等*/
#top_menu {
    width: 600px;
    height: 200px;
    margin-top: 10px;
    border-radius: 15px;
    border: #8B7D7B 7px solid;
    background-color: white;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
#top_menu > div {
    color:white;
    font-size: 25px;
    font-family: "Comic Sans MS";
}


#top_menu_up {
    width:580px;
    height: 50%;
    /* margin: 10px; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}
#top_menu_down {
    width:580px;
    height: 50%;
    /* margin: 10px; */
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}
#font-size {
    width: 33%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    color: #8B7D7B;
    background-color: #CDCDC1;
}
#font-family {
    width: 33%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    color: #8B7D7B;
    background-color: #C1CDCD;
}
#color {
    width: 33%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    flex-wrap: wrap;
}
#color-title {
    width:100%;
    height:50%;
    margin-top: 30px;
    color: #8B7D7B;
    text-align: center;
    background-color: #EEEEE0;
}
#color-selector {
    width: 100%;
    height: 50%;
    text-align: center ;
    margin-bottom: 30px;
    background-color: #EEEEE0;
}

#brush-size-title {
    margin-top: 30px;
    width: 30%;
    height: 100%;
    color: #8B7D7B;
    text-align: center ;
    /* background-color: teal; */
}
#brush-slider {
    margin-top: 30px;
    width: 70%;
    height: 100%;
    /* background-color: darksalmon; */
}
#brush-slider-bar {
    -webkit-appearance: none;
    border-radius: 10px;
    width: 95%;
    height: 10%;
    margin-left: 10px;
    margin-right: 10px;
    background: #d3d3d3;
    outline: none;

}
#brush-slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #8B7D7B;
    cursor: pointer;
}

input#text-box{
    position: absolute;
    min-width: 100px;
    min-height: 18px;
    background-color: #DDDDDD;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

/*選項標示*/
.menu > div {
    margin-left: 20px;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    border: #8B7D7B 7px solid;
    background-color: white;
}
.menu { 
    margin-left: 50px;
    width: 500px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}
/*圖片*/
#pen{
    background-image: url(./photo/2.png);
}
#eraser{
    background-image: url(./photo/1.png);
}
#highlighter{
    background-image: url(./photo/12.png);
}
#rainbow{
    background-image: url(./photo/3.png);
}
#reset{
    background-image: url(./photo/11.png);
}
#text{
    background-image: url(./photo/4.png);
}
#line{
    background-image: url(./photo/6.png);
}
#star{
    background-image: url(./photo/16.png);
}
#heart{
    background-image: url(./photo/15.png);
}
#circle{
    background-image: url(./photo/7.png);
}
#rectangle{
    background-image: url(./photo/5.png);
}
#triangle{
    background-image: url(./photo/8.png);
}
#undo{
    background-image: url(./photo/13.png);
}
#redo{
    background-image: url(./photo/14.png);
}
#upload{
    background-image: url(./photo/10.png);
}
#download{
    background-image: url(./photo/9.png);
}
/*手指頭*/
.flexbox > .menu > .btn:hover{
    cursor: pointer;
}

